<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TRAVEL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    </head>
    <body>
        <div class='container-fluid'>            
            <h2>View the plans for this destination</h2>

            <h3>{{destination.place}}</h3>
            <h4>Planned By: {{destination.creator.name}}</h4>
            <h4>Description: {{destination.plan}}</h4>
            <h4>Travel Date From: {{destination.start_date|date:"M d Y"}}</h4>
            <h4>Travel Date To: {{destination.end_date|date:"M d Y"}}</h4>

            <h3>Other users joining the trip:</h3>
            {% for user in destination.travelers.all %}
                <h4>{{user.name}}</h4>
            {% endfor %}




            <h2><a href="{% url 'travel:index'%}">Home</a></h2>
            <h3><a href="{% url 'auth:logout' %}">Logout?</a></h3>
        <div>
    
    </body>
</html>